<?xml version='1.0' encoding='utf-8'?>
<widget id="com.denunciamovil.denunciamovil" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Denuncia Movil</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="malvinjazz@live.com" href="">
        MalvinJazz
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-camera"/>
    <plugin name="cordova-plugin-dialogs"/>
    <plugin name="cordova-plugin-geolocation"/>
    <!-- <plugin name="phonegap-plugin-push" spec="1.8.1" /> -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="Fullscreen" value="false" />
    <!-- <preference name="SplashScreen" value="screen"/> -->
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="FadeSplashScreen" value="false"/>

    <!-- <access origin="https://maps.googleapis.com" /> -->
    <!-- <preference name="fullscreen" value="false" /> -->
    <!-- <preference name="android-windowSoftInputMode" value="stateVisible" /> -->
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/screen/android/splash-port-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="land-xhdpi"/>
        <splash src="res/screen/android/splash-land-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="port-xhdpi"/>

        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />

        <icon src="res/android/icon-ldpi.png" density="ldpi" />
        <icon src="res/android/icon-mdpi.png" density="mdpi" />
        <icon src="res/android/icon-hdpi.png" density="hdpi" />
        <icon src="res/android/icon-xhdpi.png" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/icon_ios.png" width="180" height="180"/>
        <icon src="res/ios/icon_ios60x2.png" width="120" height="120"/>
        <icon src="res/ios/icon_ios76.png" width="76" height="76"/>
        <icon src="res/ios/icon_ios76x2.png" width="152" height="152"/>
        <icon src="res/ios/icon_ios83x2.png" width="167" height="167"/>

        <splash src="res/screen/ios/retinax2.png" width="750" height="1334"/>
        <splash src="res/screen/ios/retinax3.png" width="1242" height="2208"/>

        <!-- <splash src="res/screen/android/splash-land-xhdpi.png" density="port-xhdpi"/> -->

    </platform>
</widget>
